PyCity Schools Analysis

In [146]:
# Dependencies and Setup
import pandas as pd

In [147]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [148]:
# Read School and Student Data File and store into Pandas DataFrames

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [149]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [150]:
# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].nunique()

In [151]:
# Calculate the total number of students
student_count = school_data_complete['student_name'].count()

In [152]:
# Calculate the total budget
total_budget = school_data_complete['budget'].sum()

In [153]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()

In [154]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()

In [155]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [156]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [157]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [158]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    'Total Unique Schools': school_count,
    'Total Students': student_count,
    'Total Budget': total_budget,
    'Average Math Score': average_math_score,
    'Average Reading Score': average_reading_score,
    '% Passing Math': passing_math_percentage,
    '% Passing Reading': passing_reading_percentage,
    '% Overall Passing': overall_passing_rate
}, index=[0])
  



district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Unique Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [159]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]

In [160]:
# Calculate the total student count
per_school_counts = school_data_complete["school_name"].value_counts()

In [161]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [162]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

In [163]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)].groupby(["school_name"]).count()
["student_name"]

['student_name']

In [164]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)].groupby(["school_name"]).count()
["student_name"]

['student_name']

In [165]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]

In [166]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [167]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
"School Type": school_types,
"Total Students": per_school_counts,
"Total School Budget": per_school_budget,
"Per Student Budget": per_school_capita,
"Average Math Score": per_school_math,
"Average Reading Score": per_school_reading,
"% Passing Math": per_school_passing_math,
"% Passing Reading": per_school_passing_reading,
"% Overall Passing": overall_passing_rate
})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,0.020096,0.020096,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,0.053821,0.053821,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,0.033910,0.033910,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,0.036510,0.036510,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,0.068120,0.068120,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,0.021575,0.021575,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,0.234192,0.234192,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,0.034282,0.034282,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,0.021004,0.021004,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,0.103950,0.103950,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,0.025006,0.025006,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,0.056786,0.056786,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,0.061162,0.061162,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,0.043802,0.043802,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,0.055556,0.055556,90.333333

Highest-Performing Schools (by % Overall Passing)

In [168]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,0.053821,0.053821,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,0.061162,0.061162,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,0.068120,0.068120,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,0.043802,0.043802,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,0.103950,0.103950,90.540541

Bottom Performing Schools (By % Overall Passing)

In [169]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=True)
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,0.025006,0.025006,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,0.033910,0.033910,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,0.034282,0.034282,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,0.021575,0.021575,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,0.021004,0.021004,53.539172

Math Scores by Grade

In [170]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores.mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
"9th": ninth_grade_math_scores,
"10th": tenth_grader_math_scores,
"11th": eleventh_grader_math_scores,
"12th": twelfth_grader_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  80.575873  76.492218
Cabrera High School    83.094697  83.154506  80.575873  83.277487
Figueroa High School   76.403037  76.539974  80.575873  77.151369
Ford High School       77.361345  77.672316  80.575873  76.179963
Griffin High School    82.044010  84.229064  80.575873  83.356164
Hernandez High School  77.438495  77.337408  80.575873  77.186567
Holden High School     83.787402  83.429825  80.575873  82.855422
Huang High School      77.027251  75.908735  80.575873  77.225641
Johnson High School    77.187857  76.691117  80.575873  76.863248
Pena High School       83.625455  83.372000  80.575873  84.121547
Rodriguez High School  76.859966  76.612500  80.575873  77.690748
Shelton High School    83.420755  82.917411  80.575873  83.778976
Thomas High School     83.590022  83.087886  80.575873  83.497041
Wilson High School     83.085578  83.724422  80.575873  83.035794
Wright High School     83.264706  84.010288  80.575873  83.644986

Reading Score by Grade

In [171]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores.mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
"9th": ninth_grade_reading_scores,
"10th": tenth_grader_reading_scores,
"11th": eleventh_grader_reading_scores,
"12th": twelfth_grader_reading_scores
})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  82.559485  80.912451
Cabrera High School    83.676136  84.253219  82.559485  84.287958
Figueroa High School   81.198598  81.408912  82.559485  81.384863
Ford High School       80.632653  81.262712  82.559485  80.662338
Griffin High School    83.369193  83.706897  82.559485  84.013699
Hernandez High School  80.866860  80.660147  82.559485  80.857143
Holden High School     83.677165  83.324561  82.559485  84.698795
Huang High School      81.290284  81.512386  82.559485  80.305983
Johnson High School    81.260714  80.773431  82.559485  81.227564
Pena High School       83.807273  83.612000  82.559485  84.591160
Rodriguez High School  80.993127  80.629808  82.559485  80.376426
Shelton High School    84.122642  83.441964  82.559485  82.781671
Thomas High School     83.728850  84.254157  82.559485  83.831361
Wilson High School     83.939778  84.021452  82.559485  84.317673
Wright High School     83.833333  83.812757  82.559485  84.073171

Scores by School Spending

In [172]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [173]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,0.020096,0.020096,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,0.053821,0.053821,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,0.033910,0.033910,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,0.036510,0.036510,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,0.068120,0.068120,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,0.021575,0.021575,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,0.234192,0.234192,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,0.034282,0.034282,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,0.021004,0.021004,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,0.103950,0.103950,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,0.025006,0.025006,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,0.056786,0.056786,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,0.061162,0.061162,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,0.043802,0.043802,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,0.055556,0.055556,90.333333

In [174]:
school_spending_df['Spending Ranges (Per Student)'] = pd.cut(per_school_capita, spending_bins, labels=labels)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,0.020096,0.020096,54.642283,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,0.053821,0.053821,91.334769,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,0.033910,0.033910,53.204476,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,0.036510,0.036510,54.289887,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,0.068120,0.068120,90.599455,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,0.021575,0.021575,53.527508,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,0.234192,0.234192,89.227166,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,0.034282,0.034282,53.513884,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,0.021004,0.021004,53.539172,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,0.103950,0.103950,90.540541,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,0.025006,0.025006,52.988247,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,0.056786,0.056786,89.892107,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,0.061162,0.061162,90.948012,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,0.043802,0.043802,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,0.055556,0.055556,90.333333,<$585

In [175]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [176]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores,
"Average Reading Score": spending_reading_scores,
"% Passing Math": spending_passing_math,
"% Passing Reading": spending_passing_reading,
"% Overall Passing": overall_passing_spending})

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,0.096843,0.096843,90.369459
$585-630,81.899826,83.155286,0.062238,0.062238,81.418596
$630-645,78.518855,81.624473,0.039147,0.039147,62.857656
$645-680,76.997210,81.027843,0.025620,0.025620,53.526855

Scores by School Size

In [177]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [178]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_counts, size_bins, labels=labels)
per_school_summary["School Size"]

Bailey High School        Large (2000-5000)
Cabrera High School      Medium (1000-2000)
Figueroa High School      Large (2000-5000)
Ford High School          Large (2000-5000)
Griffin High School      Medium (1000-2000)
Hernandez High School     Large (2000-5000)
Holden High School            Small (<1000)
Huang High School         Large (2000-5000)
Johnson High School       Large (2000-5000)
Pena High School              Small (<1000)
Rodriguez High School     Large (2000-5000)
Shelton High School      Medium (1000-2000)
Thomas High School       Medium (1000-2000)
Wilson High School        Large (2000-5000)
Wright High School       Medium (1000-2000)
Name: School Size, dtype: category
Categories (3, object): ['Small (<1000)' < 'Medium (1000-2000)' < 'Large (2000-5000)']

In [179]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [180]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})



# Display results
size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,0.169071,0.169071,89.883853
Medium (1000-2000),83.374684,83.864438,0.059089,0.059089,90.621535
Large (2000-5000),77.746417,81.344493,0.029523,0.029523,58.286003

Scores by School Type

In [184]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary.groupby(["School Type"]).mean()["% Overall Passing"]

In [185]:
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,0.020096,0.020096,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,0.053821,0.053821,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,0.033910,0.033910,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,0.036510,0.036510,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,0.068120,0.068120,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,0.021575,0.021575,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,0.234192,0.234192,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,0.034282,0.034282,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,0.021004,0.021004,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,0.103950,0.103950,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,0.025006,0.025006,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,0.056786,0.056786,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,0.061162,0.061162,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,0.043802,0.043802,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,0.055556,0.055556,90.333333,Medium (1000-2000)

In [186]:
# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

KeyError: 'Average Math Score'

In [183]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": type_math,
    "Average Reading Score": type_reading, 
    "% Passing Math": type_pct_pass_math,
    "% Passing Reading" : type_pct_pass_read,
    "% Overall Passing": type_pct_pass_overall,

})

# Display results
type_summary

NameError: name 'type_math' is not defined